<form
  class="example-container"
  [formGroup]="form"
  #frmSigno="ngForm"
  (ngSubmit)="operar()"
>
  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="ID Signo"
        required
        formControlName="idSigno"
      />
    </mat-form-field>
  </div>

  <mat-grid-list cols="2" rowHeight="2:1">
  <mat-form-field>
    <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
        [formControl]="myControlPaciente" formControlName="paciente">

    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente">
        <mat-option *ngFor="let p of pacientesFiltrados$ | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<button mat-raised-button color="primary" (click)="abrirDialogo()" type="button">Nuevo Paciente</button>
</mat-grid-list>
  <mat-form-field class="example-full-width"> 
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha" formControlName="fecha"
        [(ngModel)]="fechaSeleccionada">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Temperatura"
      required
      formControlName="temperatura"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" required formControlName="pulso" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Ritmo Respiratorio"
      required
      formControlName="ritmoRespitatorio"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="frmSigno.invalid"
  >
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button
    mat-raised-button
    color="accent"
    routerLink="/pages/signos-vitales"
    type="button"
  >
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>
